@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout_FullWidth.cshtml";
}
<div class="main__content">
    <a class="btn btn-block" stype="position:fixed;"> ADC GROUP </a>
    <h2 style="color:red;">Xin chào, @Html.ViewBag.UserDislayName</h2>
    <h3>Tôi muốn đặt lịch họp vào ngày</h3>
    <form action="suggestion.html">
        <input type="date">
        <button type="submit" class="btn btn-info" name="btn-submit">Tìm phòng phụ hợp</button>
    </form>
    <div class="np-notification">
        <h2>Lịch họp ngày hôm nay (@DateTime.Now.Day/@DateTime.Now.Month/@DateTime.Now.Year)</h2>
        <br /><h2>Phòng họp lớn lầu 2</h2>
        <button type="button" class="btn btn-warning">Các khung giờ còn trống</button>
        <br />
        @Html.Raw(ViewData["htmlMeetingRoom2bigToday"])
        <h2>Phòng họp nhỏ lầu 2</h2>
        <button type="button" class="btn btn-warning">Các khung giờ còn trống</button>
        <br />
        @Html.Raw(ViewData["htmlMeetingRoom2smallToday"])
        <h2>Phòng họp lầu 4</h2>
        <button type="button" class="btn btn-warning">Các khung giờ còn trống</button>
        <br />
        @Html.Raw(ViewData["htmlMeetingRoom4Today"])
        <h2>Phòng họp lầu 6</h2>
        <button type="button" class="btn btn-warning">Các khung giờ còn trống</button>
        <br />
        @Html.Raw(ViewData["htmlMeetingRoom6Today"])
    </div>
    <h3>Xem lịch họp trong tuần (Đang xây dựng...Coming soon !)</h3>
    <div class="np-btn-daybnt">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal" style="width: 100px; height: 50px;">@DateTime.Now.AddDays(1).Day/@DateTime.Now.AddDays(1).Month</button>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#ModalofP" style="width: 100px; height: 50px;">@DateTime.Now.AddDays(2).Day/@DateTime.Now.AddDays(2).Month</button>
        <button type="button" class="btn btn-success">@DateTime.Now.AddDays(3).Day/@DateTime.Now.AddDays(3).Month</button>
        <button type="button" class="btn btn-success">@DateTime.Now.AddDays(4).Day/@DateTime.Now.AddDays(4).Month</button>
        <button type="button" class="btn btn-success">@DateTime.Now.AddDays(5).Day/@DateTime.Now.AddDays(5).Month</button>
        <button type="button" class="btn btn-success">@DateTime.Now.AddDays(6).Day/@DateTime.Now.AddDays(6).Month</button>
    </div>
    <h3>Xem lịch họp theo Phòng (Đang xây dựng...Coming soon !)</h3>
    <div class="np-bnt-roombnt">
        <button type="button" class="btn btn-success">Phòng họp nhỏ lầu 2</button>
        <button class="btn btn-success">Phòng họp lớn lầu 2</button>
        <button class="btn btn-success">Phòng họp lầu 4</button>
        <button class="btn btn-success">Phòng họp lầu 6</button>
    </div>
    <div class="np-btn-roomtablebnt">
        <h3>Xem lịch họp dạng bảng (Đang xây dựng...Coming soon !)</h3>
        <button type="button" class="btn btn-danger">Theo tuần</button>
        <button type="button" class="btn btn-danger">Theo ngày</button>
    </div>
    <div class="container">

        <!-- Modal -->
        @Html.Raw(ViewBag.ListPopupToday)
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Chi tiết về cuộc họp</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            <strong>Người đặt :</strong>Ngọc Phương
                        </p>
                        <p>
                            <strong>Tiêu đề :</strong> Summary
                        </p>
                        <p>
                            <strong>Phòng :</strong>Room
                        </p>
                        <p>
                            <strong>Giờ bắt đầu :</strong> 10:52
                        </p>
                        <p>
                            <strong>Giờ kết thúc :</strong>10:52
                        </p>
                        <p>
                            <strong>Tình trạng :</strong> Đã duyệt
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Liên hệ</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="ModalofP" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Chi tiết cho ngày 20/11</h4>
                </div>
                <div class="modal-body">
                    <p>Các phòng còn trống:</p>
                    <h4>Phòng : Phòng họp lớn lầu 2</h4>
                    <p>
                        Khung giờ:
                        <a href="#">8:00-9:15</a>
                        <a href="#">10:30-11:45</a>
                        <a href="#">14:15-16:30</a>
                    </p>
                    <h4>Phòng : Phòng họp nhỏ lầu 2</h4>
                    <p>
                        Khung giờ:
                        <a href="#">8:00-9:15</a>
                        <a href="#">10:30-11:45</a>
                        <a href="#">14:15-16:30</a>
                    </p>
                    <h4>Phòng : Phòng họp lầu 4</h4>
                    <p>
                        Khung giờ:
                        <a href="#">8:00-9:15</a>
                        <a href="#">10:30-11:45</a>
                        <a href="#">14:15-16:30</a>
                    </p>
                    <h4>Phòng : Phòng họp lầu 6</h4>
                    <p>
                        Khung giờ:
                        <a href="#">8:00-9:15</a>
                        <a href="#">10:30-11:45</a>
                        <a href="#">14:15-16:30</a>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal" data-toggle="modal" data-target="#success">Đặt phòng</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>